<!DOCTYPE html>
<html>
    <head>
        <title>NimbleHouse</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/landing.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>
    
    <div id="landing-header">
         <h1>Welcome to the <img src="/assets/logo.png" alt="Logo" style="padding-bottom:18px"> Dashboard!</h1>
        <form action="/login" method="post">
        <div align="center" class="form-group">
            <input type="text" class="form-control form-control-lg" style="width:16%"  name="caretaker" placeholder="Enter your name..." autofocus>
        </div>
        <button class="btn btn-lg btn-success">View Dashboard</button>
        </form>
        </div>
    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

</body>
</html>